body{
  /* margin: 0; */
}
.wrapper{
  /* overflow: hidden;
  max-width: 1000px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  text-align:left; */
}
@media screen  and (min-width: 768px) {
  body{
    /* margin-top: 100px; */
  }
  /* .title-wrapper{
    display: flex;
    justify-content: center;
    margin: 100px 0;
  } */
  .title{
    /* display: flex;
    justify-content: center; */
    margin: 10px;
    width: 300px;
    font-size: 25px;
    letter-spacing: 0.5em;
    color: black;
  }
  .table-wrapper{
    /* justify-content: center; */
  }
  .input-wrapper-first{
    /* vertical-align: center; */
    /* margin: 0 50px; */
  }
  .input-wrapper-first-left{
    /* display: flex; */
  }
  .weight-unit-wrapper{
    /* text-align: center; */
    /* vertical-align: center; */
    /* margin-left: 10px; */
  }
  .weight-unit{
    /* text-align: center; */
  }
  .form-check{
    /* margin: 0 15px; */
  }
}

@media screen and (max-width: 767px) {
  body{
    /* margin-top: 80px;
    font-family: "Book Antiqua", "Yu Mincho"; */
  }
  h1{
    /* font-style: italic;
    font-size: 40px;
    margin: 50px 0 20px 0; */
  }
  section{
    /* margin: 0 10px; */
  }
  .table-scroll{
    /* overflow-x : auto */
  }
}