header{
  display: flex;
  position: fixed;
  justify-content: right;
  width: 100%;
  padding: 20px 0;
  top: 0;
  left: 0;
  background-color: #fafaff;
  z-index: 1;
}
@media screen  and (min-width: 768px) {
  header > nav > a{
    margin: 10px 30px;
    font-size: 15px;
    text-decoration: none;
    color: black;
  }
  header > nav > a:hover{
    opacity: 0.5;
  }
}
@media screen and (max-width: 767px) {
  .header-wrapper > a{
    margin: 20px;
    font-size: 15px;
    text-decoration: none;
    color: black;
  }
  .header-wrapper > a:hover{
    opacity: 0.5;
  }
}