#page-top{    
  position: fixed;
  bottom: 38px;
  right: 20px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 28px 24px;  
  border-radius: 50%;
  font-family: "Noto Sans JP", sans-serif;
  display: none;
  border: #fafaff solid;
}
@media screen  and (min-width: 768px) {
}

@media screen and (max-width: 767px) {
}